{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>استمارة التسجيل</title>
    <link rel = "icon" href =
"/static/images/logo%20.png"
        type = "image/x-icon">
     <link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/arabe1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inscbody.css' %}"> <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
 <div class="banner"></div>
<a class="ar_homeseeker" href="http://127.0.0.1:8000/adddocar" style="color: steelblue;">-العربيّة-</a>
<a style="color: steelblue;" class="fr_homeseeker" href="http://127.0.0.1:8000/adddoc/">-fr- </a>
   <nav class="nav nav-masthead">
<form action="http://127.0.0.1:8000/homeadminarabe/">
    <button type="submit"  class="nav-link "style="height:60px;width:130px;left: -170px">الاستقبال</button>
</form>
<form action="http://127.0.0.1:8000/addforar">
    <button type="submit"  class="nav-link "style="height:60px;width:130px;left: -170px;left: -170px">اضافة مجالات التكوين</button>
</form>
     <form action="http://127.0.0.1:8000/addcatar">
    <button type="submit"  class="nav-link  "style="height:60px;width:130px;left: -170px">اضافة الفئات</button>
</form>
<form action="http://127.0.0.1:8000/adddocar">
    <button type="submit"  class="nav-link active"style="height:60px;width:130px;left: -170px">إضافة استمارة التسجيل</button>
</form>
<form action="http://127.0.0.1:8000/addprogar">
    <button type="submit"  class="nav-link "style="height:60px;width:130px;left: -170px">اضافة البرامج</button>
</form>

      <form action="http://127.0.0.1:8000/showforar" class="show1">
    <button type="submit"  class="nav-link "style="height:60px;width:130px;left: -170px">مجالات التكوين</button>
</form>
<form action="http://127.0.0.1:8000/listeprogar/">
    <button type="submit"  class="nav-link "style="height:60px;width:130px;left: -170px">قائمة البرامج</button>
</form>
<form action="http://127.0.0.1:8000/listedocar">
    <button type="submit"  class="nav-link"style="height:60px;width:130px;left: -170px">استمارات التسجيل</button>
</form>

<form action="http://127.0.0.1:8000/showinscripar">
    <button type="submit"   class="nav-link"style="height:60px;width:130px;left: -170px">التسجيلات</button>
</form>
 </nav>
<img class="ima" height="40" width="52" style="float:left;position: absolute;right: 10px;top: 5px"  src="{% static 'images/logo .png' %}" >


    <div id="banner1"><div/>



<div><li> <span class="five" style="color: steelblue;">💻 .صفحة الواب :</span><span style="color: black;"><a class="six" href="http://www.cni.tn" style="color: mediumvioletred;">CNI.tn .</a></span></li>
</div>
     <div><li><span style="color: black;"><a class="height" href="https://www.facebook.com/CNITUNISIA/" style="color: steelblue;"><i class="fab fa-facebook-f" style="color:steelblue"></i>f :CNI المركز الوطني للإعلامية</a></span></li>
</div>{% if messages %}
     {% for message in messages %}
     <div class="alert alert-success" role="alert">
     {{ message }}
     </div>

     {% endfor %}
 {% endif %}
<br><br><br><br><br><br>
<h2 style="color: steelblue">استراد استمارة التسجيل</h2><br><br>

        <form method="post" enctype="multipart/form-data"style="color: white">
            {% csrf_token %}
            <div class="row"style="color: steelblue">
                <div class="col-8">
            {{ form.title|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.pdf|as_crispy_field }}
                </div></div>
            <button type="submit" class="btn btn-primary">استراد</button>

        </form>

</body>
</html>